@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

/**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
   Упрощаем работу с изображениями
  */
img {
  display: block;
  max-width: 100%;
}

/**
   Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
     Плавный скролл
    */
  scroll-behavior: smooth;
}

body {
  /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
     Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
   Приводим к единому цвету svg-элементы
  */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family: "Poppins", sans-serif;
  --font-size-main: 14px;
  --button-bg-color: #222222;
  --header-link-color: #666666;
  --features-bg-color: #222222;
  --features-bg-card: #ffffff;
  --features-bg-cardBottom: #F2F2F2;
  --features-color-text: #222222;
  --numbers-bg-color: #FF5437;
  --numbers-text-color: #ffffff;
  --blue-color: #0278ED;
  --red-color: #FF5437;
  --orange-color: #FF9209;
  --pink-color: #E738CE;
  --blueLight-color: #00C6DF;
  --purple-color: #B25DF8;
}

body {
  font-size: var(--font-size-main);
  font-family: var(--font-family);
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.title {
  color: #fff;
  font-weight: 400;
  font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
  line-height: 1.12;
  text-align: center;
}

.title--black {
  color: #222222;
}

.section-name {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.14em;
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #222222;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  padding-inline: 25px;
  border-radius: 4px;
  background-color: var(--button-bg-color);
  color: white;
  font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.button:hover {
  color: #000;
  background-color: #fff;
}

.button:active {
  scale: 1.05;
}

.header {
  position: sticky;
  top: 0;
  z-index: 6;
  padding: 25px 0px;
  background-color: #fff;
  -webkit-box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__logo {
  width: 120px;
  height: 40px;
  background-image: url("./../img/header/logo-header.svg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 25px;
     -moz-column-gap: 25px;
          column-gap: 25px;
}

@media only screen and (max-width: 1024px) {
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    background-color: #F2F2F2;
    height: 100dvh;
    padding: 90px 30px 30px 30px;
    row-gap: 40px;
    width: 320px;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__row--active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header__nav {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
}

@media only screen and (max-width: 1024px) {
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 25px;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.header__nav-link {
  color: var(--header-link-color);
  font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
  line-height: 1.71;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@media only screen and (max-width: 1024px) {
  .header__nav-link {
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  }
  .header__button {
    font-size: clamp(1rem, 0.8571rem + 0.7143vw, 1.5rem);
  }
}
.header__nav-link:hover {
  color: #222;
}

.burger-button {
  display: none;
  border: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: transparent;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media only screen and (max-width: 1024px) {
  .burger-button {
    display: block;
  }
}
.burger-button__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.burger-button__line--1 {
  top: 0;
}

.burger-button__line--3 {
  bottom: 0;
}

.burger-button--active > .burger-button__line--1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}

.burger-button--active > .burger-button__line--2 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.burger-button--active > .burger-button__line--3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 645px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .hero__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .hero__container {
    min-height: 550px;
  }
}
.hero__container::after {
  content: "";
  background-image: url("./../img/hero/hero-phone.png");
  background-position: center center; /* x y */
  background-size: contain;
  background-repeat: no-repeat;
  width: 375px;
  height: 745px;
  position: absolute;
  right: 100px;
  bottom: -197px;
}

@media only screen and (max-width: 1024px) {
  .hero__container::after {
    display: none;
  }
}
.hero__content {
  max-width: 400px;
  margin-left: 78px;
}

@media only screen and (max-width: 1024px) {
  .hero__content {
    margin-left: 0px;
  }
}
.hero__logo {
  display: block;
  background-image: url("./../img/hero/logo-hero.svg");
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  width: 192px;
  height: 64px;
  margin-bottom: 10px;
}

.hero__title {
  font-size: clamp(1.875rem, 1.4464rem + 2.1429vw, 3.375rem);
  line-height: 1.1;
  margin-bottom: 20px;
  text-wrap: balance;
}

.hero__description {
  font-size: clamp(0.75rem, 0.6786rem + 0.3571vw, 1rem);
  line-height: 1.5;
  max-width: 394px;
  margin-bottom: 20px;
  text-wrap: balance;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

@media only screen and (max-width: 768px) {
  .hero__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.hero__button {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 400px;
}

.features {
  padding: 100px 0px;
  background-color: var(--features-bg-color);
}

.features__container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.features__title {
  margin-bottom: 45px;
}

.features__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  row-gap: 15px;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}

@media only screen and (max-width: 460px) {
  .features__grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.features__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  min-height: 490px;
  border-radius: 20px;
  background-color: var(--features-bg-card);
  color: var(--features-color-text);
}

@media only screen and (max-width: 460px) {
  .features__card {
    min-height: 400px;
  }
}
.features__img {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  width: 227px;
  min-height: 450px;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features__img--1 {
  background-image: url("./../img/features/phone-1.png");
}

.features__img--2 {
  background-image: url("./../img/features/phone-2.png");
}

.features__img--3 {
  background-image: url("./../img/features/phone-3.png");
}

.features__img--4 {
  background-image: url("./../img/features/phone-4.png");
}

.features__img--5 {
  background-image: url("./../img/features/phone-5.png");
}

.features__img--6 {
  background-image: url("./../img/features/phone-6.png");
}

@media only screen and (max-width: 460px) {
  .features__img {
    bottom: -100px;
    min-height: 450px;
  }
}
.features__card-title {
  color: inherit;
  margin-bottom: 11px;
  font-size: clamp(1.125rem, 1.0179rem + 0.5357vw, 1.5rem);
  line-height: 1.25;
  text-align: center;
}

.features__card-title--blue {
  color: var(--blue-color);
}

.features__card-title--red {
  color: var(--red-color);
}

.features__card-title--orange {
  color: var(--orange-color);
}

.features__card-title--pink {
  color: var(--pink-color);
}

.features__card-title--blueLight {
  color: var(--blueLight-color);
}

.features__card-title--purple {
  color: var(--purple-color);
}

.features__card-text {
  color: inherit;
  font-size: clamp(0.875rem, 0.8393rem + 0.1786vw, 1rem);
  line-height: 1.49;
  text-align: center;
}

.features__card-bottom {
  position: relative;
  z-index: 5;
  -ms-flex-item-align: end;
      align-self: end;
  width: 100%;
  min-height: 200px;
  padding-top: 48px;
  padding-right: 45px;
  padding-bottom: 40px;
  padding-left: 45px;
  border-radius: 20px;
  background-color: var(--features-bg-cardBottom);
}

.features__card-bottom--icon::before {
  content: "";
  position: absolute;
  top: -32px;
  left: 50%;
  width: 64px;
  height: 64px;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.features__card-bottom--icon-calendar::before {
  background-image: url("./../img/icons/calendar.svg");
}

.features__card-bottom--icon-list::before {
  background-image: url("./../img/icons/list.svg");
}

.features__card-bottom--icon-type::before {
  background-image: url("./../img/icons/type.svg");
}

.features__card-bottom--icon-split::before {
  background-image: url("./../img/icons/split.svg");
}

.features__card-bottom--icon-upload::before {
  background-image: url("./../img/icons/upload.svg");
}

.features__card-bottom--icon-focus::before {
  background-image: url("./../img/icons/focus.svg");
}

@media only screen and (max-width: 460px) {
  .features__card-bottom {
    min-height: 150px;
  }
}
.numbers {
  padding: 100px 0px;
  background-color: var(--numbers-bg-color);
}

@media only screen and (max-width: 460px) {
  .numbers {
    padding: 60px 0px;
  }
}
.numbers__container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 768px) {
  .numbers__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.numbers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--numbers-text-color);
}

.numbers__text {
  color: inherit;
}

.numbers__text--large {
  font-size: clamp(2.1875rem, 1.1161rem + 5.3571vw, 5.9375rem);
  line-height: 1.1;
}

.numbers__text--small {
  font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
  line-height: 1.43;
  letter-spacing: 0.14em;
  text-transform: uppercase;
}