.download {
    padding: 100px 0px;
}
.download__link {
    display: block;
    background-position: center center; /* x y */
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.download__link--appstore {
    background-image: url('./../img/download/appstore.svg');
    width: 180px;
    height: 60px;
}