body{
    font-size: var(--font-size-main);
    font-family: var(--font-family);
}
.sr-only:not(:focus):not(:active) {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0); 
    width: 1px;
    height: 1px;
    white-space: nowrap; 
    clip-path: inset(50%);
}
.container{
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title{
    margin-bottom: 15px;
    color: #222222;
    font-weight: 400;
    font-size: clamp(1.125rem, 0.875rem + 1.25vw, 2rem);
    line-height: 1.12;
    text-align: center;
}
.section-title--white{
    color: #ffffff;
}
.section-description{
    max-width: 580px;
    margin: 0 auto;
    margin-bottom: 40px;
    color: #666666;
    font-size: clamp(0.875rem, 0.8036rem + 0.3571vw, 1.125rem);
    text-align: center;
}
.section-description--white{
    color: #ffffff;
}
.section-name{
    margin-bottom: 5px;
    color: #222222;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.14em;
    text-align: center;
    text-transform: uppercase;
}
.section-name--white{
    color: #ffffff;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    padding-inline: 25px;
    border: 2px solid #222222;
    border-radius: 4px;
    background-color: var(--button-bg-color);
    color: white;
    font-size: clamp(0.625rem, 0.5536rem + 0.3571vw, 0.875rem);
    text-decoration: none;
    transition: all .2s ease;
}
.button:hover{
    background-color: #fff;
    color: #000;
}
.button:active{
    scale: 1.05;
}