:root{
    --font-family: "Poppins", sans-serif;
    --font-size-main: 14px;

    --button-bg-color: #222222;
    --header-link-color: #666666;
    
    --features-bg-color: #222222;
    --features-bg-card: #ffffff;
    --features-bg-cardBottom: #F2F2F2;
    --features-color-text: #222222;

    --numbers-bg-color: #FF5437;
    --numbers-text-color: #ffffff;

    --blue-color: #0278ED;
    --red-color: #FF5437;
    --orange-color: #FF9209;
    --pink-color: #E738CE;
    --blueLight-color: #00C6DF;
    --purple-color: #B25DF8;
}